
/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}   
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;

    width: 100%;
    /* text-align: center; */

}

nav a {
    color: blue;
    margin: 0 15px;
    text-decoration: none;
    

}
nav a:hover {
    text-decoration: underline;
    color: white;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}   
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p {
    margin: 0;
}
h1, h2 {
    color: rgba(216, 32, 32, 0.686);
}
button {
    background-color: #d54b25;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #218838;
}
form input, form textarea {
    width: 50%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 3px solid #ccc;
    border-radius: 5px;
}
form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #20f652;
}
.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  
}
.product {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 15px;
    margin: 15px 0;
    text-align: center;
    color: black;
    background-color: rgb(117, 155, 186);
    height: 100%;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px solid black;
  
}
.product h3 {
    margin: 10px 0;
}
.product p {
    color: #131212;
}
.product button {
    margin-top: 10px;
}
.product button:hover {
    background-color: #218838;
   
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
    nav a {
        display: block;
        margin: 10px 0;
    }
}
@media (max-width: 480px) {
    header, footer {
        text-align: center;
    }
    .product {
        margin: 10px 0;
    }
}
@media (max-width: 320px) {
    body {
        font-size: 14px;
    }
    button {
        padding: 8px 16px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}

